@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #1e293b; /* Dark blue */
  --color-secondary: #334155;
  --color-text: #000;
  --color-bg: #fff;
}

.dark {
  --color-primary: #64748b; /* Soft blue-gray */
  --color-secondary: #94a3b8;
  --color-text: #fff;
  --color-bg: #1e293b;
}
